@model IEnumerable<appweb.Models.Seat>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RoomId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SeatRow)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SeatNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SeatType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookingDetails)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Room)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(model => item.RoomId)
            </td>
            <td>
                @Html.DisplayFor(model => item.SeatRow)
            </td>
            <td>
                @Html.DisplayFor(model => item.SeatNumber)
            </td>
            <td>
                @Html.DisplayFor(model => item.SeatType)
            </td>
            <td>
                @Html.DisplayFor(model => item.BookingDetails)
            </td>
            <td>
                @Html.DisplayFor(model => item.Room)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
